@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    font-family: 'Poppins', sans-serif;
}
.Section{
    width: 1200px;
    min-height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    z-index: 2;
}
.Section .div{   
  position: relative;
  margin-top: 30px;
  width: 360px;
  height: 400px;
  grid-row-end: 400px;
   background: rgb(172, 171, 170);
   overflow: hidden;
   transition: 0.5;
   z-index: 2;
   box-sizing: border-box;
   padding: 30px;
   box-shadow: -10px 25px 50px rgba(0,0,0,.2);
   border-radius: 5px;
}
.Section .div:hover{
    box-shadow: -10px 25px 50px rgba(0,0,0,.5);
}
.Section .div p{
    margin: 0;
    padding: 0;
    font-size: 18px;
    word-break: break-all;
    text-align: center;
}

.Section .div:hover p{
    color: #fff;
}

.Section .div h2{
    position: absolute;
    bottom: 30px;
    right: 30px;
    margin: 0;
    padding: 0;
    font-size: 25px;
    text-transform: uppercase;
    
}
.Section .div h6{
    position: absolute;
    bottom: 7px;
    right: 30px;
    margin: 0;
    padding: 0;
    font-size: 12px;


}
.Section .div:hover h2{
    color: #fff;
}
.Section .div:hover h6{
    color: #fff;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button a {
    margin-top: 10px;
    margin: 10px;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    /* text-transform: uppercase; */
    color: #111;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}

.button a:hover{
  border: 1px solid #f08624;
  border-radius: 10px;
  background: linear-gradient(rgb(72, 229, 235), rgb(186, 96, 238));
  color: #fff;
  
  
}

.button a span {
    position: relative;
    z-index: 3;
}


.Section .div:hover ~ .bg,
.Section .div:hover{
    opacity: 2.2;
    transform: scale(1.1);
    background: linear-gradient(rgb(72, 229, 235), rgb(186, 96, 238));
}


/* Page AddPage & editPage Css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
}

.container{
    width: 80%;
    padding: 20px;
    
}
.container h2{
    width: 100%;
    color:white;
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
}

.container .row100{
    position: relative;
    width: 50%;
    margin-left: 25%;
   
    /* display: grid; */
    /* grid-template-columns: repeat(autofit, minmax(300px, 1fr)); */
}

.container .row100 .col{
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 10px;
    transition: 0.5s;
}
.container .row100 .inputBox{
    position: relative;
    width: 100%;
    height: 40px;
    color: #f08624;
    
}
.container .row100 .inputBox input,
.container .row100 .inputBox.textarea textarea{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 0 10px;
    z-index: 1;
    color: #000;
}
.container .row100 .inputBox .text{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 30px;
    font-size: 15px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}

.container .row100 .inputBox input:focus + .text,
.container .row100 .inputBox input:valid + .text{
    top: -35px;
    left: -10px;
}

.container .row100 .inputBox .line{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #f08624;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
}

.container .row100 .inputBox input:focus ~ .line,
.container .row100 .inputBox input:valid ~ .line{
    height: 100%;
}
.container .row100 .inputBox .textarea {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.container .row100 .inputBox .textarea textarea{
    height: 100%;
    resize: none;
}

.container .row100 .inputBox textarea:focus + .text,
.container .row100 .inputBox textarea:valid + .text{
    top: -35px;
    left: -10px;
}
.container .row100 .inputBox textarea:focus ~ .line,
.container .row100 .inputBox textarea:valid ~ .line{
    height: 100%;
}

.btn{
    border: none;
    padding: 7px 35px;
    cursor: pointer;
    outline: none;
    background: #f19069;
    color: rgb(255, 255, 255);
    font-size: 18px;
    border-radius: 5px;
    margin-left: 43%;
}
.btn:hover{
     color: black;
}
.image{
    width: 150px;
    height: 150px;
    border: none;
    border-radius: 50%;
    margin-left: 25%;
}
.file{
    background-color: #f19069;
}